body{
    background-image: url(https://static1.purebreak.com.br/articles/5/11/09/25/@/505404--midnights-tracklist-completa-feat-co-opengraph_1200-2.png)}

    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: rgb(78, 79, 87);
        text-align: center;
    }   
    h3{
        font-family:'Times New Roman', Times, serif;
        font-size: 20px-small;
        color: rgb(146, 174, 200);
        text-align:center;
    }